@import url('https://fonts.googleapis.com/css?family=Orbitron:400');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(
      to left top,
      #ff6f31,
      #e54d77,
      #9c5597,
      #4e5686,
      #2f4858
    )
    center center fixed;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0002;
  justify-content: space-between;
}

.Status {
  display: flex;
  align-items: center;
}

.Dot {
  width: 10px;
  margin: 5px;
  height: 10px;
  border-radius: 50%;
}

#DotRed {
  background-color: #f00;
  box-shadow: 0 0 10px 2px #f00;
}

#DotGreen {
  background-color: #0f0;
  box-shadow: 0 0 10px 2px #0f0;
}

.Logo {
  margin: 20px;
}

.LogoImage {
  z-index: 1;
  width: 250px;
  cursor: pointer;
  position: relative;
}

.Question {
  color: #fff;
  padding: 0 10px;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
}

.Flag {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

/* Side */

.FlagSide {
  display: flex;
  align-items: center;
}

.FlagSideIcon {
  z-index: 1;
  cursor: pointer;
  font-size: 200px;
  position: relative;
}

.FlagSideIconClose {
  color: #fffa;
  left: -1000px;
}

.FlagSideIconClose:hover {
  color: #be6464;
}

.FlagSideIconCheck {
  color: #fffa;
  right: -1000px;
}

.FlagSideIconCheck:hover {
  color: #8dc572;
}

/* List */

.FlagList {
  padding: 0;
  margin: 0 auto;
  max-width: 776px;
  text-align: center;
}

.FlagListItem {
  z-index: 1;
  color: #fff;
  margin: 10px;
  width: 170px;
  height: 185px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ededed40;
}

.FlagListItem:hover {
  background: #ffffff26;
  border: 2px solid #ffffff80;
}

.FlagListContainer {
  margin: 5px auto 15px;
}

.FlagListImage {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: inline-block;
  background-color: #019;
  background-size: 100% 100%;
}

.FlagListTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.FlagListDescription {
  font-size: 14px;
}

/* View */

.FlagView {
  display: flex;
  margin-top: -30px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.FlagViewImage {
  z-index: 1;
  width: 300px;
  height: 225px;
  margin: 50px auto;
  position: relative;
  border-radius: 10px;
  display: inline-block;
  background-color: #019;
  background-size: 100% 100%;

  animation-name: spin;
  animation-delay: 800ms;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#vote {
  background-color: #8dc572;
}

#cancel {
  background-color: #be6464;
}

.FlagAction {
  z-index: 1;
  border: none;
  margin: 20px;
  color: white;
  outline: none;
  display: none;
  padding: 20px;
  font-size: 16px;
  position: relative;
  text-align: center;
  border-radius: 5px;
}

.FlagAmountTitle {
  z-index: 1;
  color: white;
  border: none;
  width: 300px;
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
  position: relative;
  background: transparent;
  font-family: 'Orbitron', sans-serif;
}

.FlagAmountTitle:focus {
  outline: none;
}

.FlagAmountTitle:active {
  outline: none;
}

/* Load */

.FlagLoad {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.FlagLoadMessage {
  color: white;
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}

.FlagLoadBack {
  color: #fffa;
  padding: 10px;
  margin: 20px 0;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.FlagLoadBack:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

#container {
  z-index: 1;
  width: 200px;
  height: 200px;
  margin: 50px 0;
  overflow: hidden;
  position: relative;
  border-radius: 10%;
  animation: background 4s -3.5s infinite;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.4);
}

#wrapper {
  width: 300%;
  height: 300%;
  position: relative;
  margin-left: -50px;
  transform: translate3d(-25%, 0, 0);
  animation: rotation 4s linear infinite;
}

.ball {
  left: 50%;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%);
}

#ball-top {
  top: 40px;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url('/ball.jpg');
}

#ball-bottom {
  top: 450px;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url('/ball.jpg');
}

#stars {
  width: 100%;
  opacity: 0.8;
  perspective: 15px;
  animation: stars 4s linear infinite;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2) inset, 0 0 10px white;
}

.star {
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
}

.star-layer {
  width: 200px;
  height: 200px;
  position: absolute;
  transform-origin: 100px 0;
}

/* Dash */

.FlagDash {
  margin: 0 0;
  display: flex;
  max-width: unset;
  overflow-x: scroll;
}

.FlagDashToggle {
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 20px;
  color: #fffc;
  margin: 0 auto;
  cursor: pointer;
  position: fixed;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.FlagDashToggle:hover {
  color: #fff;
}

.FlagDashView {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 120px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
}

.FlagDashItem {
  height: 100px;
  padding: 0 5px;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.FlagDashImage {
  width: 75px;
  height: 75px;
  margin: 0 5px;
}

#transactions:hover {
  background: none;
}

@media only screen and (max-width: 982px) {
  body {
    overflow: scroll;
  }

  .Logo {
    align-self: unset;
  }

  .FlagSide {
    margin: 0;
    display: none;
  }

  .FlagSideIcon {
    position: absolute;
  }

  .FlagAction {
    display: inline;
  }

  .FlagDashToggle {
    bottom: 0;
    margin-top: 150px;
    position: relative;
  }
}

/* Animation */

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(720deg);
  }
}

@keyframes rotation {
  0% {
    transform: translate3d(-25%, 0, 0) rotate(0deg);
  }
  20% {
    transform: translate3d(-25%, 0, 0) rotate(50deg);
  }
  30% {
    transform: translate3d(-25%, 0, 0) rotate(130deg);
  }
  70% {
    transform: translate3d(-25%, 0, 0) rotate(240deg);
  }
  80% {
    transform: translate3d(-25%, 0, 0) rotate(310deg);
  }
  100% {
    transform: translate3d(-25%, 0, 0) rotate(360deg);
  }
}

@keyframes background {
  0% {
    background-color: #5f95fe;
  }
  50% {
    background-color: #2f4858;
  }
  100% {
    background-color: #5f95fe;
  }
}

@keyframes stars {
  0% {
    opacity: 0;
    padding-right: 0;
  }
  25% {
    opacity: 0;
    padding-right: 0;
  }
  50% {
    opacity: 1;
    padding-right: 25px;
  }
  75% {
    opacity: 0;
    padding-right: 50px;
  }
  100% {
    opacity: 0;
    padding-right: 0;
  }
}
