@import url('https://fonts.googleapis.com/css?family=Orbitron:400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(
      to left top,
      #ff6f31,
      #e54d77,
      #9c5597,
      #4e5686,
      #2f4858
    )
    center center fixed;
}

.Logo {
  z-index: 1;
  width: 250px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
}

.Question {
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}

.Flag {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Side */

.FlagSide {
  display: flex;
  margin: 0 150px;
  align-items: center;
}

.FlagSideIcon {
  z-index: 1;
  cursor: pointer;
  font-size: 200px;
  position: relative;
}

.FlagSideIconClose {
  color: #fffa;
}

.FlagSideIconClose:hover {
  color: #be6464;
}

.FlagSideIconCheck {
  color: #fffa;
}

.FlagSideIconCheck:hover {
  color: #8dc572;
}

/* List */

.FlagList {
  z-index: 1;
  padding: 0;
  margin: 0 auto;
  max-width: 916px;
  text-align: center;
}

.FlagListItem {
  z-index: 1;
  color: #fff;
  margin: 10px;
  width: 205px;
  height: 225px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ededed40;
}

.FlagListItem:hover {
  background: #ffffff26;
  border: 2px solid #ffffff80;
}

.FlagListContainer {
  margin: 0 auto 20px;
}

.FlagListImage {
  width: 100px;
  height: 100px;
  border-radius: 98px;
  display: inline-block;
  background-color: #019;
  background-size: 100% 100%;
}

.FlagListTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.FlagListDescription {
  font-size: 14px;
}

/* View */

.FlagView {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.FlagViewImage {
  z-index: 1;
  width: 300px;
  height: 225px;
  margin: 50px auto;
  position: relative;
  border-radius: 10px;
  display: inline-block;
  background-color: #019;
  background-size: 100% 100%;

  animation-name: spin;
  animation-delay: 800ms;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.FlagAmountTitle {
  z-index: 1;
  color: white;
  border: none;
  width: 300px;
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
  position: relative;
  background: transparent;
  font-family: 'Orbitron', sans-serif;
}

.FlagAmountTitle:focus {
  outline: none;
}

.FlagAmountTitle:active {
  outline: none;
}

/* Animation */

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(720deg);
  }
}
