@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

main {
  height: 100vh;
  background-image: linear-gradient(
    to left top,
    #ff6f31,
    #e54d77,
    #9c5597,
    #4e5686,
    #2f4858
  );
}

.content {
  position: relative;
}

.logo {
  width: 250px;
  margin-top: 50px;
  margin-left: 50px;
}

.genb-back {
  top: 50%;
  left: -250px;
  color: #ff6f31;
  cursor: pointer;
  position: fixed;
  font-size: 150px;
  font-weight: 300;
  font-family: 'Raleway' sans-serif;
}

.genb-amount {
  color: white;
  font-size: 1.5rem;
  vertical-align: middle;
}

.genb-question {
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}

.genb-flag-list-ul {
  padding: 0;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 980px;
  list-style: none;
  text-align: center;
  justify-content: start;
}

.genb-flag-list-li {
  color: #fff;
  margin: 10px;
  width: 205px;
  height: 225px;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid hsla(0, 0%, 93%, 0.25);
}

.genb-flag-list-li:hover {
  background: hsla(0, 0%, 100%, 0.15);
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.genb-flag-list-img {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  transform-origin: top;
}

.genb-flag-list-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.genb-flag-list-description {
  font-size: 14px;
}
